:root {
	--textColor: #22343d;
	--fixed: #fff;
	--bg: #ebebeb;
	--bg-img: url(../../images/product/Bg.png);
	--bg-img2: url(../images/work/bg.svg);
}

.mode {
	background-color: #1f2e35;
	--textColor: #fff;
	--fixed: #1f2e35;
	--bg: #172226;
	--bg-img: url(../../images/product/Bg-dark.svg);
	--bg-img2: url(../images/work/bg-dark.svg);
}

.show {
	display: block;
}

.hidden {
	display: none;
}

.deg {
	transform: rotate(180deg);
}
