.work-section {
	padding-top: 52px;
	background-image: var(--bg-img2);
	background-repeat: no-repeat;
	background-position: center top;
}

.work {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.work__content {
	width: 542px;
	text-align: center;
	margin-bottom: 32px;
}
.work__title {
	color: var(--textColor);
	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 16px;
}
.work__text {
	color: var(--textColor);
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px; /* 162.5% */
}
.work__list {
	width: 920px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.work__item {
	margin-bottom: 24px;
	height: 98px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.work__item:nth-child(2) {
	flex-direction: row-reverse;
	margin-left: 16px;

	& > img {
		margin-left: 16px;
	}
}

.work__item:nth-child(3) {
	flex-direction: row-reverse;
	& > img {
		margin-left: 16px;
	}
}
.collab__subtext {
	position: relative;
	margin-left: 16px;
	padding: 15px 24px 14px 25px;
	color: #2f281e;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 26.5px;
	background: #fff;
	box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
}

.subtextnth1::before {
	position: absolute;
	content: "";
	width: 17px;
	height: 17px;
	background-color: #fff;
	left: 32px;
	top: 42px;
	border-radius: 50%;
}

.subtextnth::before {
	right: 55px;
	top: 42px;
	position: absolute;
	content: "";
	width: 17px;
	height: 17px;
	background-color: #fff;
	border-radius: 50%;
}

.work__link {
	margin-top: 38px;
	color: #fff;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 220px;
	padding: 15px 30px 14px 31px;
	border-radius: 4px;
	background: #02897a;
	border: 2px solid #02897a;
	transition: all 0.3s ease;

	&:hover {
		color: var(--textColor);
		background-color: transparent;
	}
}

@media (max-width: 925px) {
	.work__content {
		width: 100%;
	}
	.work__list {
		width: 100%;
	}
}

@media (max-width: 470px) {
	.work__item > img {
		width: 88px;
		height: 88px;
	}
	.work__item {
		text-align: center;
	}

	.subtextnth1::before,
	.subtextnth::before {
		display: none;
	}
}
